.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(17, 24, 39, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 50;
}

.navbar a {
  color: white;
  margin: 0 1rem;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #3b82f6;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3b82f6;
}


.navbar-shortcuts{
  display: flex;
  margin-right: 50px;
}